[submodule "automake"]
	path = automake
	url = git@github.com:TheApacheCats/automake.git
	branch = master
[submodule "blas"]
	path = blas
	url = git@antouk.bitbucket.org:antoniodellelce/blas.git
	branch = master
[submodule "lapack"]
	path = lapack
	url = git@antouk.bitbucket.org:antoniodellelce/lapack.git
	branch = master
[submodule "libxc"]
	path = libxc
	url = git@antouk.bitbucket.org:antoniodellelce/libxc.git
	branch = master
